body {
  margin:0px;
  padding:8px;
  overflow-x:hidden;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  background: aliceblue;
}

h5 {
  margin-top: 5px;
  margin-bottom: 5px;
  color: cornflowerblue;
}

.spellSet {
  display:flex;
  flex-wrap:wrap;
  justify-content:space-around;
}

.spellDesc {
  height: 300px;
  overflow: auto;
}

.cardFont {
  font-size:1.2rem;
}

.dropdowns {
  display:flex;
  flex-wrap:wrap;
}

.dropdownClass {
  width:50%;
}

.dropdownLevel {
  width:40%;
}

.dropdownItem {
  font-size: xx-large;
  font-weight: 300;
  height: 30px;
  color: cornflowerblue;
  padding-left: 15px;
}

.checkboxUpto {
  width:8%;
  padding-left: 2%;
  align-self:center;
}
